beautifulsoup4==4.7.1
certifi==2018.11.29
chardet==3.0.4
Django==2.2.10
django-environ==0.4.5
django-filter==2.1.0
django-webpack-loader==0.6.0
djangorestframework==3.9.1
geographiclib==1.49
geopy==1.18.1
gunicorn==19.9.0
idna==2.8
psycopg2-binary==2.7.7
python-slugify==2.0.1
pytz==2018.9
PyYAML==4.2b4
requests==2.21.0
soupsieve==1.7.3
tqdm==4.30.0
ua-parser==0.8.0
Unidecode==1.0.23
urllib3==1.26.5
user-agents==1.1.0
scrapy==1.6.0
ijson==2.3