{% load staticfiles %}
{% load md5url %}
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter49130284 = new Ya.Metrika2({
                    id:49130284,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks2");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/49130284" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<link  rel=“icon”  type=“image/x-icon” href="{% static "media/logo.png" %}"/>
<meta charset="UTF-8">

<meta name="description" CONTENT="{% if mvc %}{{ mvc.datetime }}, {{ mvc.type }}, пострадали-{{ mvc.injured }}, погибли-{{ mvc.dead }}{% else %}Карта ДТП{% if region.parent_region %} – {{ region }} ({{ region.parent_region }}){% elif region %} – {{ region }}{% endif %}{% endif %}">

<meta name="keywords" content="карта, статистика, ДТП, {% if region.parent_region %}{{ region.parent_region }}{% else %}{{ region }}{% endif %}{% if mvc.type %},{{ mvc.type }}{% endif %}{% if mvc.street %}, {{ mvc.street.name }}{% endif %}">

<meta property="og:title" content="{% if mvc %}ДТП – {{ mvc.type }},{{ mvc.datetime }},{% if region.parent_region %}{{ region }}, {{ region.parent_region }}{% else %}{{ region }}{% endif %}{% if mvc.street %}, {{ mvc.street.name }}{% endif %}{% else %}Карта ДТП{% if region.parent_region %} – {{ region }} ({{ region.parent_region }}){% elif region %} – {{ region }}{% endif %}{% endif %}"/>

<meta property="og:type" content="website"/>
<meta property="og:image" content="https://dtp-stat.ru{% static "media/media1.png" %}"/>

<meta property="og:description" content="{% if mvc %}Пострадали-{{ mvc.injured }}, погибли-{{ mvc.dead }}{% else %}{% if region.parent_region %}{{ region }} ({{ region.parent_region }}) – {% elif region %}{{ region }} – {% endif %}Все ДТП на одной карте{% endif %}">


<title>
    {% if mvc %}ДТП – {{ mvc.type }}, {{ mvc.datetime }},{% if region.parent_region %} {{ region.parent_region }}{% else %} {{ region }}{% endif %}{% if mvc.street %}, {{ mvc.street.name }}{% endif %}{% else %} Карта ДТП{% if region.parent_region %} – {{ region }} ({{ region.parent_region }}){% elif region %} – {{ region }}{% endif %}{% endif %}
</title>

{% block page-styles %}
{% endblock %}

{% block styles %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% md5url 'css/style.css' %}" rel="stylesheet" type="text/css">


    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">



{% endblock %}



<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
